{ns fhir.ru.diag.nu

 import #{fhir}

 DsCondition
 {:type zen/map
  :zen/tags #{zen/schema}
  :zen/desc "Нозологическая единица"
  :zendoc 'diag.DsCondition
  :confirms #{fhir/Condition}

  :require #{:clinicalStatus}

  :keys
  {:identifier {:zen/desc "Идентификаторы данной нозологической единицы данного пациента."}

   ;; active | recurrence | relapse | inactive | remission | resolved
   :clinicalStatus {:zen/desc "Клинический статус нозологической единицы."
                    :minItems 1}}}}
