{:deps  {}
 :tasks {:requires    ([babashka.fs :as fs])
         ;; helpers and constants
         :init        (do)
         :enter       (do)
         :leave       (do)
         ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
         ;; tasks
         run          {:doc "Run on 3333 port with basic auth"
                       :task (clojure {:extra-env {}} "-M:run" "3333")}

         dev          {:doc "Run on 3333 port with basic auth"
                       :task (clojure {:extra-env {}} "-M:run" "3333" "reload")}
         

         repl         {:doc  "Run Clojure repl for Emacs with cider"
                       :task (clojure {:extra-env {}} "-M:nrepl")}

         lint         {:doc  "Lint source code"
                       :task (do (shell "clj-kondo --parallel --lint src:test:dev/src")
                                 (shell "cljstyle check"))}}}
