{ns fhir.ru.support.extension-template

 import #{fhir zen.fhir fhir.ru.core.vs-nsi-gender}

 CoreExtensionTemplate
 {:zen/tags #{zen/schema zen.fhir/structure-schema zen.fhir/extension zen.fhir/support}
  :zen/desc "Шаблон расширения"
  :zendoc "artifacts.extensions.core-ex-nsi-gender"
  :type zen/map
  :confirms #{fhir/Extension}
  :zen.fhir/version "0.5.8"
  :zen.fhir/id "core-ex-nsi-gender"
  :zen.fhir/type "Extension"
  :zen.fhir/name "CoreExtensionTemplate"
  :zen.fhir/abstract false
  :zen.fhir/status "draft"
  :zen.fhir/kind "complex-type"
  :zen.fhir/profileUri "http://fhir.ru/core/sd/extension-template"
  :zen.fhir/value-set
  {:symbol fhir.ru.core.vs-nsi-gender/CoreVsNsiGender
   :strength :required}
  :keys {:url {:zen/desc "http://fhir.ru/core/sd/extension-template"
               :confirms #{fhir/uri}}
         :valueCoding  {:type zen/map
                        :confirms #{fhir/Coding}
                        :zen/desc "Значение из справочника https://nsi.rosminzdrav.ru/#!/refbook/1.2.643.5.1.13.13.11.1040"
                        :require #{:system :code :display}
                        :keys {:system {:zen/desc "http://fhir.ru/core/systems/nsi-gender"
                                        :confirms #{fhir/uri}}
                               :code {:confirms #{fhir/code}
                                      :zen/desc "Код"}
                               :display {:zen/desc "Значение для отображения"
                                         :confirms #{fhir/string}}}}}}}