{ns fhir.ru.lab.device
 import #{fhir zen.fhir fhir.ru.core.patient}

 LabDevice
 {:zen/tags #{zen/schema zen.fhir/profile-schema zen.fhir/lab-group}
  :zendoc "lab.Device"
  :confirms #{fhir/Device}
  :zen/desc "Device"
  :zen.fhir/version "0.5.8"
  :zen.fhir/type "Device"
  :zen.fhir/id "device-lab"
  :zen.fhir/name "LabDevice"
  :zen.fhir/abstract false
  :zen.fhir/status "draft"
  :zen.fhir/kind "resource"
  :zen.fhir/profileUri "http://fhir.ru/core/sd/device-lab"
  :type zen/map
  :keys {}}}