{ns fhir.ru.lab.device
 import #{  fhir zen.fhir 
			fhir.ru.core.patient 
			fhir.ru.core.organization}

 LabDevice
 {:zen/tags #{zen/schema zen.fhir/profile-schema zen.fhir/lab-group}
  :zendoc "lab.Device"
  :confirms #{fhir/Device}
  :zen/desc "Device"
  :zen.fhir/version "0.5.8"
  :zen.fhir/type "Device"
  :zen.fhir/id "device-lab"
  :zen.fhir/name "LabDevice"
  :zen.fhir/abstract false
  :zen.fhir/status "draft"
  :zen.fhir/kind "resource"
  :zen.fhir/profileUri "http://fhir.ru/core/sd/device-lab"
  :type zen/map
  :require #{:identifier}
  :keys {
	:deviceName {
		:type zen/vector
		:zen/desc "Наименование из cправочника оборудования ЛИС. Используется в ПЛИ."
		:every {
			:type zen/map
			:confirms #{fhir/BackboneElement}
			:require #{:name :type}
			:keys {
				:name {
					:type zen/string
					:confirms #{fhir/string}
					:zen/desc "Имя, которое идентифицирует устройство. Используется в ПЛИ."
				}
				:type {
					:confirms #{fhir/code}
					:zen.fhir/value-set {
						:symbol hl7-fhir-r4-core.value-set.device-nametype/value-set
						:strength :required
					}
					:zen/desc "Название метки UDI | Удобное для пользователя название | Название, переданное пользователем| Название производителя | Название модели | Прочее. Используется в ПЛИ"
				}
			}
		}
	}
	:identifier {
		:type zen/vector
		:zen/desc "Идентификатор экземпляра. Используется в ПЛИ. "
		:every {
			:type zen/map
			:confirms #{fhir/Identifier}
			:keys {
				:assigner {
					:confirms #{fhir/Reference zen.fhir/Reference}
					:zen.fhir/reference {
						:refers #{fhir.ru.core.organization/CoreOrganization}
					}
					:zen/desc "Организация, выдавшая id"
				}
				:system {
					:type zen/string
					:confirms #{fhir/uri} 
					:zen/desc "OID_медицинской_организации.100.НомерМИС.НомерЭкзМИС.67. Используется в ПЛИ"	
				}
				:type {
					:type zen/map
					:confirms #{fhir/CodeableConcept}
					:zen/desc "Описание идентификатора"
					:require #{:coding}
					:keys {
						:coding {
							:type zen/vector
							:zen/desc "Код, определяемый терминологической системой"
							:every {
								:type zen/map
								:confirms #{fhir/Coding}
								:keys {}
							}
						}
					}
				}
				:value {
					:type zen/string
					:confirms #{fhir/string}
					:zen/desc "ID из cправочника оборудования ЛИС. Используется в ПЛИ"
				}
			}
		}
	}
  }}}