{ns fhir.ru.lab.diagnosticreport

 import #{fhir zen.fhir fhir.ru.core.patient}

 LabDiagnosticReport
 {:zen/tags #{zen.fhir/profile-schema zen/schema zen.fhir/lab-group}
  :zendoc "lab.DiagnosticReport"
  :zen/desc "Лабораторные результаты"
  :zen.fhir/version "0.5.8"
  :confirms #{fhir/DiagnosticReport}
  :zen.fhir/id "lab-diagnosticreport"
  :zen.fhir/name "LabDiagnosticReport"
  :zen.fhir/abstract false
  :zen.fhir/status "draft"
  :zen.fhir/kind "resource"
  :zen.fhir/type "DiagnosticReport"
  :zen.fhir/profileUri "http://fhir.ru/lab/sd/lab-diagnosticreport"
  :type zen/map
  :keys
  {:subject {:zen/desc "Пациент"
             :confirms #{zen.fhir/Reference fhir.ru.core.patient/CorePatient}}}}}
