{ns fhir.ru.lab.diagnosticreport
 import #{fhir zen.fhir 
        fhir.ru.core.Practitioner
        fhir.ru.core.observation
        fhir.ru.lab.specimen}

 LabDiagnosticReport
 {:zen/tags #{zen.fhir/profile-schema zen/schema zen.fhir/lab-group}
  :zendoc "lab.DiagnosticReport"
  :zen/desc "Лабораторные результаты"
  :zen.fhir/version "0.5.8"
  :confirms #{fhir/DiagnosticReport}
  :zen.fhir/id "lab-diagnosticreport"
  :zen.fhir/name "LabDiagnosticReport"
  :zen.fhir/abstract false
  :zen.fhir/status "draft"
  :zen.fhir/kind "resource"
  :zen.fhir/type "DiagnosticReport"
  :zen.fhir/profileUri "http://fhir.ru/lab/sd/lab-diagnosticreport"
  :type zen/map
  :require #{:code :status}
  :keys{
        :category 
            {:type zen/map
            :fhir/flags #{:MS}
            :confirms #{fhir/CodeableConcept} 
            :require #{:coding}
            :keys {
                  :coding  
                        {:type zen/vector
                        :fhir/flags #{:MS}
                        :minItems 1
                        :every
                                {
                                :type zen/map
                                :confirms #{fhir/Coding}
                                :keys {
                                        :code  
                                                {:fhir/flags #{:MS}
                                                :type zen/string
                                                :confirms #{fhir/code}} 
                                                
                                        :display
                                                {:fhir/flags #{:MS}
                                                :type zen/string  
                                                :confirms #{fhir/string}} 
                                        
                                        :system
                                                {:fhir/flags #{:MS}
                                                :type zen/string  
                                                :confirms #{fhir/uri}}
                                                
                                        :version
                                                {:fhir/flags #{:MS}
                                                :type zen/string  
                                                :confirms #{fhir/string}}}}}}} 
        :code
            {:type zen/map
            :fhir/flags #{:MS}
            :confirms #{fhir/CodeableConcept} 
            :require #{:coding}
            :keys {
                  :coding  
                        {
                        :type zen/vector
                        :fhir/flags #{:MS}
                        :minItems 1 
                        :every
                                {
                                :type zen/map
                                :confirms #{fhir/Coding}
                                :keys {
                                        :code  
                                                {:type zen/string
                                                :fhir/flags #{:MS}
                                                :confirms #{fhir/code}} 
                                                
                                        :display
                                                {:type zen/string
                                                :fhir/flags #{:MS}
                                                :confirms #{fhir/string}} 
                                        
                                        :system
                                                {:type zen/string
                                                :fhir/flags #{:MS} 
                                                :confirms #{fhir/uri}} 
                                                
                                        :version
                                                {:type zen/string
                                                :fhir/flags #{:MS}
                                                :confirms #{fhir/string}}}}}}} 

        :performer {:type zen/vector
                    :fhir/flags #{:MS}
                    :minItems 0
                    :every
                            {:type zen/map
                            :confirms #{fhir/Reference zen.fhir/Reference}
                            :zen.fhir/reference {:refers #{fhir.ru.core.practitioner/CorePractitioner
                                                                fhir.ru.core.practitioner/CorePractitionerRole}}}} 

        :result {:type zen/vector
                 :fhir/flags #{:MS}
                 :minItems 0
                 :every
                        {:type zen/map
                         :confirms #{fhir/Reference zen.fhir/Reference}
                         :zen.fhir/reference {:refers #{fhir.ru.core.observation/CoreObservation}}}} 
      
        :status  
                {:type zen/string
                :fhir/flags #{:MS}
                :confirms #{fhir/code}} 

        :media
                {:type zen/vector
                :fhir/flags #{:MS}
                :minItems 0
                :every
                {:type zen/map
                :confirms #{fhir/BackboneElement}
                :require #{:link}
                :keys {

                        :link  
                                {:fhir/flags #{:MS}
                                :confirms #{fhir/Reference zen.fhir/Reference}
                                :zen.fhir/reference {:refers #{fhir.ru.lab.media/LabMedia}}}}}}}}}
