{ns fhir.ru.lab.media
 import #{fhir zen.fhir
 		  fhir.ru.lab.device
		  fhir.ru.core.practitioner
		  fhir.ru.core.organization
		  fhir.ru.core.patient
		  fhir.ru.financial.relatedperson}

 LabMedia
 {:zen/tags #{zen/schema zen.fhir/profile-schema zen.fhir/lab-group}
  :zendoc "lab.Media"
  :confirms #{fhir/Media}
  :zen/desc "Media"
  :zen.fhir/version "0.5.8"
  :zen.fhir/type "Media"
  :zen.fhir/id "media-lab"
  :zen.fhir/name "MediaLab"
  :zen.fhir/abstract false
  :zen.fhir/status "draft"
  :zen.fhir/kind "resource"
  :zen.fhir/profileUri "http://fhir.ru/core/sd/media-lab"
  :type zen/map
  :require #{:content :status}
  :keys {
	:content {
		:zen/desc "Используется в ПЛИ"
		:confirms #{fhir/Attachment}
		:type zen/map
		:keys {
			:data {
				:type zen/string
				:confirms #{fhir/base64Binary}
				:zen/desc "Используется в ПЛИ"
			}
		}
	}
	:created {
		:fhir/polymorphic true
		:type zen/map
		:zen/desc "Используется в ПЛИ"

		:keys {
			:dateTime {
				:type zen/string
				:confirms #{fhir/dateTime}
				:zen/desc "Используется в ПЛИ"
			}
		}
	}
	:device {
		:confirms #{fhir/Reference zen.fhir/Reference}
		:zen.fhir/reference {
		:refers #{fhir.ru.lab.device/LabDevice fhir/DeviceMetric}
		}
		:zen/desc "Используется в ПЛИ"
	}
	:operator {
		:confirms #{fhir/Reference zen.fhir/Reference}
		:zen.fhir/reference {
		:refers #{	fhir.ru.core.practitioner/CorePractitioner 
					fhir.ru.core.practitioner/CorePractitionerRole
					fhir.ru.core.organization/CoreOrganization
					fhir.ru.lab.device/LabDevice
					fhir.ru.core.patient/CorePatient
					fhir.ru.financial.relatedperson/FinancialRelatedPerson}
		}
		:zen/desc "Используется в ПЛИ"
	}
	:status {
		:confirms #{fhir/code}
		:zen.fhir/value-set {
			:symbol hl7-fhir-r4-core.value-set.event-status/value-set
			:strength :required
		}
		:zen/desc "Используется в ПЛИ"
    }
  }}}