{ns fhir.ru.lab.observation
 import #{fhir zen.fhir
          fhir.ru.core.patient
          fhir.ru.core.practitioner
          fhir.ru.core.encounter
          fhir.ru.lab.device}

 LabObservation
 {:zen/tags #{zen/schema zen.fhir/profile-schema zen.fhir/lab-group}
  :zendoc "lab.Observation"
  :confirms #{fhir/Observation}
  :zen/desc "Observation"
  :zen.fhir/version "0.5.8"
  :zen.fhir/type "Observation"
  :zen.fhir/id "observation-lab"
  :zen.fhir/name "LabObservation"
  :zen.fhir/abstract false
  :zen.fhir/status "draft"
  :zen.fhir/kind "resource"
  :zen.fhir/profileUri "http://fhir.ru/core/sd/observation-lab"
  :type zen/map
  :keys {:code {:type zen/map
                :zen.fhir/value-set {:symbol CoreVsLabTests :strength :required}}
         :device {:confirms #{fhir/Reference zen.fhir/Reference}
                  :zen.fhir/reference {:refers #{fhir.ru.lab.device/LabDevice fhir/DeviceMetric}}}
         :effective
         {:fhir/polymorphic true
          :exclusive-keys #{#{:dateTime :Period}}
          :type zen/map
          :keys
          {:dateTime {:confirms #{fhir/dateTime}}
          ;;  :_dateTime {:confirms #{fhir/Element}}
           :Period {:confirms #{fhir/Period}}}}
         :hasMember {:confirms #{fhir/Reference zen.fhir/Reference}
                     :zen.fhir/reference {:refers #{fhir.ru.lab.observation/LabObservation fhir/QuestionnaireResponse fhir/MolecularSequence}}}
         :subject {:confirms #{fhir/Reference zen.fhir/Reference}
                   :zen.fhir/reference {:refers #{fhir.ru.core.patient/CorePatient}}}
         :encounter {:confirms #{fhir/Reference zen.fhir/Reference}
                     :zen.fhir/reference {:refers #{fhir.ru.core.encounter/CoreEncounter}}}
         :performer {:confirms #{fhir/Reference zen.fhir/Reference}
                     :zen.fhir/reference {:refers #{fhir.ru.core.practitioner/CorePractitioner fhir.ru.core.practitioner/CorePractitionerRole}}}
         :interpretation {:type zen/vector
                          :zen/desc ""
                          :zen.fhir/value-set {:symbol CoreVsResultInterpretation
                                               :strength :required}}
         :note {}
         :referenceRange {:type zen/vector
                          :every {:type zen/map
                                  :confirms #{fhir/BackboneElement}
                                  :keys {:low {:type zen/map
                                               :confirms #{fhir/SimpleQuantity}
                                               :zen.fhir/value-set {:symbol CoreVsUnits :strength :required}
                                               :keys {:value {:type zen/string
                                                              :confirms #{fhir/decimal}}
                                                      :unit {:type zen/string
                                                             :confirms #{fhir/string}}
                                                      :system {:type zen/string
                                                               :confirms #{fhir/uri}}
                                                      :code {:type zen/string
                                                             :confirms #{fhir/code}}}}
                                         :high {:type zen/map
                                                :confirms #{fhir/SimpleQuantity}}
                                         :type {:type zen/map
                                                :confirms #{fhir/CodeableConcept}}
                                         :appliesTo {:type zen/map
                                                     :confirms #{fhir/CodeableConcept}}
                                         :age {:type zen/map
                                               :confirms #{fhir/Range}}
                                         :text {:type zen/string
                                                :confirms #{fhir/string}}}}}
         :specimen {:confirms #{fhir/Reference zen.fhir/Reference}
                    :zen.fhir/reference {:refers #{fhir.ru.lab.specimen/LabSpecimen}}}}}


 CoreVsLabTests
 {:zen/tags #{zen.fhir/value-set}
  :zendoc "artifacts.valuesets.core-vs-nsi-lab-tests"
  :zen/desc "Федеральный справочник лабораторных исследований. Справочник лабораторных тестов"
  :zen.fhir/version "0.5.8"
  :zen.fhir/name "CoreVsLabTests"
  :zen.fhir/title "Core Value Set Lab Tests"
  :fhir/code-systems
  #{{:fhir/url "https://nsi.rosminzdrav.ru/#!/refbook/1.2.643.5.1.13.13.11.1080",
     :zen.fhir/content :not-present}}
  :uri "http://fhir.ru/core/vs/core-vs-nsi-lab-tests"
  :version "3.36"
  :zen.fhir/oid "1.2.643.5.1.13.13.11.1080"}

 CoreVsResultInterpretation
 {:zen/tags #{zen.fhir/value-set}
  :zendoc "artifacts.valuesets.core-vs-nsi-result-interpretation"
  :zen/desc "Справочник кодов интерпретации результатов"
  :zen.fhir/version "0.5.8"
  :zen.fhir/name "CoreVsResultInterpretation"
  :zen.fhir/title "Core Value Set Result Interpretation"
  :fhir/code-systems
  #{{:fhir/url "https://nsi.rosminzdrav.ru/#!/refbook/1.2.643.5.1.13.13.99.2.257",
     :zen.fhir/content :not-present}}
  :uri "http://fhir.ru/core/vs/core-vs-nsi-result-interpretation"
  :version "1.1"
  :zen.fhir/oid "1.2.643.5.1.13.13.99.2.257"}

 CoreVsUnits
 {:zen/tags #{zen.fhir/value-set}
  :zendoc "artifacts.valuesets.core-vs-nsi-units"
  :zen/desc "Единицы измерения"
  :zen.fhir/version "0.5.8"
  :fhir/code-systems
  #{{:fhir/url "https://nsi.rosminzdrav.ru/#!/refbook/1.2.643.5.1.13.13.11.1358",
     :zen.fhir/content :not-present}}
  :uri "http://fhir.ru/core/vs/core-vs-nsi-units"
  :version "3.10"}}