{ns fhir.ru.lab.servicerequest
 import #{fhir zen.fhir
            fhir.ru.core.patient
            fhir.ru.lab.device
            fhir/Location
            fhir/Group}

 LabServiceRequest
 {:zen/tags #{zen/schema zen.fhir/profile-schema zen.fhir/lab-group}
  :zendoc "lab.ServiceRequest"
  :confirms #{fhir/ServiceRequest}
  :zen/desc "Запрос услуги"
  :zen.fhir/version "0.5.8"
  :zen.fhir/type "ServiceRequest"
  :zen.fhir/id "servicerequest-lab"
  :zen.fhir/name "ServiceRequestLab"
  :zen.fhir/abstract false
  :zen.fhir/status "draft"
  :zen.fhir/kind "resource"
  :zen.fhir/profileUri "http://fhir.ru/core/sd/servicerequest-lab"
  :type zen/map
  :require #{:status :intent :subject}
  :keys  { 
      :status
            {:confirms #{fhir/code},
            :zen.fhir/value-set
            {:symbol hl7-fhir-r4-core.value-set.request-status/value-set,
            :strength :required},
            :zen/desc
            "Черновик | Активен | В ожидании | Аннулирован | Завершён | Недействителен | Неизвестен"
            :fhir/flags #{:MS}},
      :intent
            {:confirms #{fhir/code},
            :zen.fhir/value-set
            {:symbol hl7-fhir-r4-core.value-set.request-intent/value-set,
            :strength :required},
            :zen/desc
            "Предложение | План | Юридический запрос | Заказ | Первичный заказ | Ответный заказ | Заказ исполнения | Подзаказ исполнения | Опция"
            :fhir/flags #{:MS}},

      :subject
            {:confirms #{fhir/Reference zen.fhir/Reference},
            :zen.fhir/reference {:refers
            #{fhir.ru.core.patient/CorePatient
            fhir.ru.lab.device/LabDevice
            fhir/Location
            fhir/Group}},
            :zen/desc "Физическое или юридическое лицо, для которого заказана услуга"
            :fhir/flags #{:MS}},   

      :code 
            {:type zen/map
            :confirms #{fhir/CodeableConcept},
            :require #{:coding}
            :fhir/flags #{:MS}
            :keys {
                  :coding  
                        {:type zen/vector,
                        :minItems 1,
                        :fhir/flags #{:MS}
                        :every
                        {:type zen/map
                        :confirms #{fhir/Coding}
                        :keys { 
                              :code  
                                    {:type zen/map
                                    :zen.fhir/value-set {:symbol CoreVsNsirangemedicalservices :strength :required}
                                    :confirms #{fhir/code}
                                    :zen/desc "Код услуги должен указывается по справочнику НСИ ЕГИСЗ"
                                    :fhir/flags #{:MS}},
                                    
                              :display
                                    {:type zen/string  
                                    :confirms #{fhir/string}
                                    :fhir/flags #{:MS}}}}}}}}}

CoreVsNsiNomenclatureMedicalServices
 {:zen/tags #{zen.fhir/value-set}
  :zendoc "artifacts.valuesets.core-vs-nsi-nomenclature-medical-services"
  :zen/desc "Основан на справочнике [\"Номенклатура медицинских услуг\" НСИ ЕГИСЗ](https://nsi.rosminzdrav.ru/#!/refbook/1.2.643.5.1.13.13.11.1070/version/2.10)"
  :zen.fhir/version "0.5.8"
  :fhir/code-systems
  #{{:fhir/url "https://nsi.rosminzdrav.ru/#!/refbook/1.2.643.5.1.13.13.11.1070/version/2.10",
     :zen.fhir/content :not-present}},
  :uri "http://fhir.ru/lab/servicerequest/core-vs-nsi-nomenclature-medical-services"
  :version "2.10"
  :zen.fhir/id "core-vs-nsi-nomenclature-medical-services"
  :zen.fhir/name "CoreVsNsiNomenclatureMedicalServices"
  :zen.fhir/title "Core ValueSet Номенклатура медицинских услуг"
  :zen.fhir/status "active"
  :zen.fhir/oid "1.2.643.5.1.13.13.11.1070"
  :zen.fhir/compose {:include [{:system "urn:oid:1.2.643.5.1.13.13.11.1070"}]}}}
