{ns fhir.ru.lab.specimen
 import #{fhir
 		  zen.fhir
		  fhir.ru.core.practitioner
		  fhir.ru.lab.substance}

 LabSpecimen
 {:zen/tags #{zen/schema zen.fhir/profile-schema zen.fhir/lab-group}
  :zendoc "lab.Specimen"
  :confirms #{fhir/Specimen}
  :zen/desc "Specimen"
  :zen.fhir/version "0.5.8"
  :zen.fhir/type "Specimen"
  :zen.fhir/id "specimen-lab"
  :zen.fhir/name "LabSpecimen"
  :zen.fhir/abstract false
  :zen.fhir/status "draft"
  :zen.fhir/kind "resource"
  :zen.fhir/profileUri "http://fhir.ru/core/sd/specimen-lab"
  :type zen/map
  :keys {
	:collection {
		:type zen/map
		:confirms #{fhir/BackboneElement}
		:zen/desc "Используется в ПЛИ"
		:keys {
			:collected {
				:fhir/polymorphic true
				:type zen/map
				:zen/desc "Используется в ПЛИ"
				:keys {
					:dateTime {
						:type zen/string
						:confirms #{fhir/dateTime}
						:zen/desc "Используется в ПЛИ"
					}
				}
			}
			:collector {
				:confirms #{fhir/Reference zen.fhir/Reference}
            	:zen.fhir/reference {
					:refers #{  fhir.ru.core.practitioner/CorePractitioner 
								fhir.ru.core.practitioner/CorePractitionerRole}
				}
				:zen/desc "Используется в ПЛИ"
			}
			:method {
				:type zen/map
                :confirms #{fhir/CodeableConcept}
				:zen/desc "Используется в ПЛИ"
				:keys {
					:coding {
						:type zen/vector
						:zen/desc "Используется в ПЛИ"
						:every {
							:type zen/map
							:confirms #{fhir/Coding}
							:keys {
								:code {
									:type zen/map
									:confirms #{fhir/code}
									:zen/desc "Используется в ПЛИ"
								}
								:display {
									:type zen/string
									:confirms #{fhir/string} 	
									:zen/desc "Используется в ПЛИ"
								}
								:system {
									:type zen/string
									:confirms #{fhir/uri}
									:zen/desc "Используется в ПЛИ"
									:zen.fhir/value-set {
										:symbol fhir.ru.lab.servicerequest/CoreVsNsirangemedicalservices
										:strength :required
									}
								}
								:version {
									:type zen/string
									:confirms #{fhir/string}
									:zen/desc "Используется в ПЛИ"
								}
							}
						}
					}
				}
			}
			:quantity {
				:type zen/map
				:confirms #{fhir/SimpleQuantity}
				:zen/desc "Используется в ПЛИ"
				:keys {
					:code {
						:type zen/string
                        :confirms #{fhir/code}
						:zen/desc "Используется в ПЛИ"
					}
					:system {
						:type zen/string
                        :confirms #{fhir/uri}
						:zen/desc "Используется в ПЛИ"
						:zen.fhir/value-set {
							:symbol fhir.ru.core.vs/CoreVsMeasurementUnits
                            :strength :required
						}
					}
					:unit {
						:type zen/string
						:confirms #{fhir/string}
						:zen/desc "Используется в ПЛИ"
					}
					:value {
						:type zen/string
						:confirms #{fhir/decimal}
						:zen/desc "Используется в ПЛИ"
					}
				}
			}
		}
	}
	:container {
		:type zen/vector
		:zen/desc "Используется в ПЛИ"
		:every {
			:type zen/map
			:confirms #{fhir/BackboneElement}
			:keys {
				:additive {
					:fhir/polymorphic true
					:type zen/map
					:zen/desc "Используется в ПЛИ"
					:keys {
						:Reference {
							:zen/desc "Используется в ПЛИ"
							:confirms #{fhir/Reference zen.fhir/Reference}
							:zen.fhir/reference {
								:refers #{fhir.ru.lab.substance/LabSubstance}
							}
						}
					}
				}
				:description {
					:type zen/string
					:confirms #{fhir/string}
					:zen/desc "Используется в ПЛИ"
				}
				:identifier {
					:type zen/vector
					:zen/desc "Используется в ПЛИ"
					:maxItems 1
					:every {
						:type zen/map
						:confirms #{fhir/Identifier}
						:keys {
							:value {
								:type zen/string
								:confirms #{fhir/string}
								:zen/desc "Используется в ПЛИ"
							}
							:system {
								:type zen/string
								:confirms #{fhir/uri}
								:zen/desc "Используется в ПЛИ"
							}
						}
					}
				}
			}
		}
	}
	:identifier {
		:type zen/vector
		:zen/desc "Используется в ПЛИ"
		:every {
			:type zen/map
			:confirms #{fhir/Identifier}
			:keys {
				:system {
					:type zen/string
					:confirms #{fhir/uri} 
					:zen/desc "OID_медицинской_организации.100.НомерМИС.НомерЭкзМИС.66 Используется в ПЛИ"	
				}
				:value {
					:type zen/string
					:confirms #{fhir/string}
					:zen/desc "Используется в ПЛИ"
				}
			}
		}
	}
	:parent {
		:type zen/vector
		:zen/desc "Используется в ПЛИ"
		:every {
			:type zen/map
			:confirms #{fhir/Reference zen.fhir/Reference}
			:zen.fhir/reference {
				:refers #{fhir.ru.lab.specimen/LabSpecimen}
			}
		}
	}
	:processing {
		:type zen/vector
		:zen/desc "Используется в ПЛИ"
		:every {
			:type zen/map
			:confirms #{fhir/BackboneElement}
			:keys {
				:description {
					:type zen/string
					:confirms #{fhir/string}
					:zen/desc "Используется в ПЛИ"
				}
				:procedure {
					:type zen/map
					:confirms #{fhir/CodeableConcept}
					:zen/desc "Используется в ПЛИ"
					:keys {
						:coding {
							:type zen/vector
							:zen/desc "Используется в ПЛИ"
							:every {
								:type zen/map
								:confirms #{fhir/Coding}
								:keys {
									:code {
										:type zen/string
										:confirms #{fhir/code}
										:zen/desc "Используется в ПЛИ"
									}
									:system {
										:type zen/string
										:confirms #{fhir/uri}
										:zen/desc "Используется в ПЛИ"
										:zen.fhir/value-set {
											:symbol fhir.ru.lab.servicerequest/CoreVsNsirangemedicalservices
											:strength :required
										}
									}
									:version {
										:type zen/string
										:confirms #{fhir/string}
										:zen/desc "Используется в ПЛИ"
									}
									:display {
										:type zen/string
										:confirms #{fhir/string}
										:zen/desc "Используется в ПЛИ"
									}
								}
							}
						}
					}
				}
				:time {
					:fhir/polymorphic true
					:type zen/map
					:zen/desc "Используется в ПЛИ"
					:keys {
						:dateTime {
							:type zen/string
							:confirms #{fhir/dateTime}
							:zen/desc "Используется в ПЛИ"
						}
						:Period {
							:type zen/map
							:confirms #{fhir/Period}
							:zen/desc "Используется в ПЛИ"
							:keys {
								:end {
									:type zen/string
									:confirms #{fhir/dateTime}
									:zen/desc "Используется в ПЛИ"
								}
								:start {
									:type zen/string
									:confirms #{fhir/dateTime}
									:zen/desc "Используется в ПЛИ"
								}
							}
						}
					}
				}
			}
		}
	}
	:type {
		:type zen/map
		:confirms #{fhir/CodeableConcept}
		:zen/desc "Используется в ПЛИ"
		:keys {
			:coding {
				:type zen/vector
				:zen/desc "Используется в ПЛИ"
				:every {
					:type zen/map
					:confirms #{fhir/Coding}
					:keys {
						:code {
							:type zen/map
							:confirms #{fhir/code}
							:zen/desc "Используется в ПЛИ"
						}
						:display {
							:type zen/string
							:confirms #{fhir/string} 	
							:zen/desc "Используется в ПЛИ"
						}
						:system {
							:type zen/string
							:confirms #{fhir/uri}
							:zen/desc "Используется в ПЛИ"
							:zen.fhir/value-set {
								:symbol fhir.ru.core.vs/CoreVsLaboratoryMaterialsAndSamples
								:strength :required
							}
						}
						:version {
							:type zen/string
							:confirms #{fhir/string}
							:zen/desc "Используется в ПЛИ"
						}
					}
				}
			}
		}
	}
  }}}