{ns fhir.ru.lab.substance
 import #{fhir zen.fhir}

 LabSubstance
 {:zen/tags #{zen/schema zen.fhir/profile-schema zen.fhir/lab-group}
  :zendoc "lab.Substance"
  :confirms #{fhir/Substance}
  :zen/desc "Substance"
  :zen.fhir/version "0.5.8"
  :zen.fhir/type "Substance"
  :zen.fhir/id "substance-lab"
  :zen.fhir/name "SubstanceLab"
  :zen.fhir/abstract false
  :zen.fhir/status "draft"
  :zen.fhir/kind "resource"
  :zen.fhir/profileUri "http://fhir.ru/core/sd/substance-lab"
  :type zen/map
  :require #{:code}
  :keys {
	:code {
		:type zen/map
		:confirms #{fhir/CodeableConcept}
		:zen/desc ""
		:require #{:coding}
		:keys {
			:coding {
				:type zen/vector
				:zen/desc ""
				:every {
					:type zen/map
					:confirms #{fhir/Coding}
					:keys {
						:code {
							:type zen/string
							:confirms #{fhir/code}
							:const {
								:value "105590001"
							}
						}
						:system {
							:type zen/string
                            :confirms #{fhir/uri}
							:const {
								:value "http://snomed.info/sct"
							}
						}
					}
				}
			}
		}
	}
	:description {
		:type zen/string
		:confirms #{fhir/string}
		:zen/desc "Используется в ПЛИ"
	}
	:identifier {
		:type zen/vector
		:zen/desc "Используется в ПЛИ"
		:every {
			:type zen/map
			:confirms #{fhir/Identifier}
			:keys {
				:assigner {
					:confirms #{fhir/Reference zen.fhir/Reference}
					:zen.fhir/reference {
						:refers #{fhir.ru.core.organization/CoreOrganization}
					}
					:zen/desc ""
				}
				:system {
					:type zen/string
					:confirms #{fhir/uri} 
					:zen/desc "OID_медицинской_организации.100.НомерМИС.НомерЭкзМИС.67 Используется в ПЛИ"	
				}
				:type {
					:type zen/map
					:confirms #{fhir/CodeableConcept}
					:zen/desc ""
					:keys {
						:coding {
							:type zen/vector
							:zen/desc ""
							:every {
								:type zen/map
								:confirms #{fhir/Coding}	
								:keys {
									:code {
										:confirms #{fhir/code}
										:zen.fhir/value-set {
											:symbol hl7-fhir-r4-core.value-set.identifier-type/value-set
											:strength :required
										}
									}
									:system {
										:type zen/string
										:confirms #{fhir/uri}
										:const {
											:value "http://terminology.hl7.org/CodeSystem/v2-0203"
										}
									}
								}
							}
						}
					}
				}
				:use {
					:confirms #{fhir/code}
					:zen.fhir/value-set {
						:symbol hl7-fhir-r4-core.value-set.identifier-use/value-set
						:strength :required
					}
				}
				:value {
					:type zen/string
					:confirms #{fhir/string}
					:zen/desc "Используется в ПЛИ"
				}
			}
		}
	}
  }}}