{ns fhir.ru.lab.substance
 import #{fhir zen.fhir}

 LabSubstance
 {:zen/tags #{zen/schema zen.fhir/profile-schema zen.fhir/lab-group}
  :zendoc "lab.Substance"
  :confirms #{fhir/Substance}
  :zen/desc "Substance"
  :zen.fhir/version "0.5.8"
  :zen.fhir/type "Substance"
  :zen.fhir/id "substance-lab"
  :zen.fhir/name "SubstanceLab"
  :zen.fhir/abstract false
  :zen.fhir/status "draft"
  :zen.fhir/kind "resource"
  :zen.fhir/profileUri "http://fhir.ru/core/sd/substance-lab"
  :type zen/map
  :require #{:code}
  :keys {
	:code {
		:type zen/map
		:confirms #{fhir/CodeableConcept}
		:zen/desc "Используется в ПЛИ"
		:require #{:coding}
		:keys {
			:text {
				:type zen/string
				:confirms #{fhir/string}
				:zen/desc "Используется в ПЛИ"
			}
		}
	}
	:description {
		:type zen/string
		:confirms #{fhir/string}
		:zen/desc "Используется в ПЛИ"
	}
	:identifier {
		:type zen/vector
		:zen/desc "Используется в ПЛИ"
		:every {
			:type zen/map
			:confirms #{fhir/Identifier}
			:keys {
				:system {
					:type zen/string
					:confirms #{fhir/uri} 
					:zen/desc "OID_медицинской_организации.100.НомерМИС.НомерЭкзМИС.67 Используется в ПЛИ"	
				}
				:value {
					:type zen/string
					:confirms #{fhir/string}
					:zen/desc "Используется в ПЛИ"
				}
			}
		}
	}
  }}}