{ns fhir.ru.lab.taskreport
 import #{fhir zen.fhir}

 LabTaskReport
 {:zen/tags #{zen/schema zen.fhir/profile-schema zen.fhir/lab-group}
  :zendoc "lab.TaskReport"
  :confirms #{fhir/Task}
  :zen/desc "TaskReport"
  :zen.fhir/version "0.5.8"
  :zen.fhir/type "Task"
  :zen.fhir/id "taskreport-lab"
  :zen.fhir/name "TaskReportLab"
  :zen.fhir/abstract false
  :zen.fhir/status "draft"
  :zen.fhir/kind "resource"
  :zen.fhir/profileUri "http://fhir.ru/core/sd/taskreport-lab"
  :type zen/map
  :require #{:intent :status}
  :keys {
	:basedOn {
		:fhir/flags #{:MS}
		:type zen/vector
		:zen/desc "Используется в ПЛИ"
		:every {
			:confirms #{fhir/Reference zen.fhir/Reference}
			:zen.fhir/reference {
				:refers #{}
			}
		}
	}
	:executionPeriod {
		:fhir/flags #{:MS}
		:type zen/map
		:confirms #{fhir/Period}
		:zen/desc "Используется в ПЛИ"
		:keys {
			:end {
				:fhir/flags #{:MS}
				:type zen/string
				:confirms #{fhir/dateTime}
				:zen/desc "Используется в ПЛИ"
			}
			:start {
				:fhir/flags #{:MS}
				:type zen/string
				:confirms #{fhir/dateTime}
				:zen/desc "Используется в ПЛИ"
			}
		}
	}
	:intent {
		:fhir/flags #{:MS}
		:confirms #{fhir/code}
		:zen.fhir/value-set {
			:symbol hl7-fhir-r4-core.value-set.task-intent/value-set
			:strength :required
		}
		:zen/desc "Используется в ПЛИ"
	}
	:output {
		:fhir/flags #{:MS}
		:type zen/vector
		:zen/desc "Используется в ПЛИ"
		:every {
			:type zen/map
			:confirms #{fhir/BackboneElement}
			:require #{:type :valueReference}
			:keys {
				:type {
					:fhir/flags #{:MS}
					:type zen/map
					:confirms #{fhir/CodeableConcept}
					:zen/desc "Используется в ПЛИ"
					:keys {
						:coding {
							:fhir/flags #{:MS}
							:type zen/vector
							:zen/desc "Используется в ПЛИ"
							:every {
								:type zen/map
								:confirms #{fhir/Coding}
								:keys {
									:code {
										:fhir/flags #{:MS}
										:type zen/map
										:confirms #{fhir/code}
										:zen/desc "Используется в ПЛИ"
									}
								}
							}
						}
					}
				}
				:valueReference {
					:fhir/flags #{:MS}
					:confirms #{fhir/Reference}
					:zen/desc "Используется в ПЛИ"
				}
			}
		}
	}
	:performerType {
		:fhir/flags #{:MS}
		:type zen/vector
		:zen/desc "Используется в ПЛИ"
		:every {
			:type zen/map
			:confirms #{fhir/CodeableConcept}
			:require #{:coding}
			:keys {
				:coding {
					:fhir/flags #{:MS}
					:type zen/vector
					:zen/desc "Используется в ПЛИ"
					:every {
						:type zen/map
						:confirms #{fhir/Coding}
						:keys {
							:code {
								:fhir/flags #{:MS}
								:type zen/string
								:confirms #{fhir/code}
								:zen/desc "Используется в ПЛИ"
							}
							:system {
								:fhir/flags #{:MS}
								:type zen/string
								:confirms #{fhir/uri}
								:zen/desc "Используется в ПЛИ"
								:const {
									:value "http://snomed.info/sct"
								}
								:zen.fhir/value-set {
									:symbol fhir.ru.core.vs/CoreVsMedicalCareTypes
									:strength :required
								}
							}
							:version {
								:fhir/flags #{:MS}
								:type zen/string
								:confirms #{fhir/string}
								:zen/desc "Используется в ПЛИ"
							}
						}
					}
				}
			}
		}
	}
	:priority {
		:fhir/flags #{:MS}
		:confirms #{fhir/code}
		:zen/desc "Используется в ПЛИ"
		:zen.fhir/value-set {
			:symbol fhir.ru.core.vs/CoreVsMedicalCareForms
			:strength :required
		}
	}
	:status {
		:fhir/flags #{:MS}
		:confirms #{fhir/code}
		:zen.fhir/value-set {
			:symbol hl7-fhir-r4-core.value-set.task-status/value-set
			:strength :required
		}
		:zen/desc "Используется в ПЛИ"
	}
  }}}