{ns fhir.ru.core.address

 import #{fhir}

 CoreAddress
 {:zen/tags #{zen/schema zen.fhir/structure-schema}
  :zendoc 'core.Address
  :confirms #{fhir/Address}
  :zen/desc "Адрес"
  :id "core-address"
  :name "CoreAddress"
  :zen.fhir/type "Address"
  :zen.fhir/profileUri "http://fhir.ru/core/sd/core-address"

  :type zen/map
  :keys
  {:text {:type zen/string
          :zen/desc "Полный адрес"}

   :extension {:type zen/map
               :keys {:fias {:type zen/string
                             :zen/desc "Код адреса по ФИАС"}
                      :fias_house {:type zen/string
                                   :zen/desc "Код дома по ФИАС"}}}}}}
