{ns fhir.ru.core.department

 import #{fhir zen.fhir
          fhir.ru.core.address
          fhir.ru.core.organization}

 Department
 {:zen/tags #{zen/schema zen.fhir/profile-schema}
  :zendoc 'core.Department
  :zen.fhir/version "0.5.8"
  :confirms #{fhir/Organization}
  :zen/desc "Организация - Подразделение"

  :type zen/map
  :require #{:name}
  :keys
  {:name {:type zen/string
          :zen/desc "Полное название организации"}

   :alias {:type zen/vector
           :zen/desc "Сокращенное наименование организации"
           :every {:type zen/string
                   :confirms #{fhir/string}}}

   :identifier {:type zen/vector
                :every {:confirms #{fhir/Identifier}}
                :slicing
                {:slices
                 {"ФРМО"
                  {:zen/desc "Уникальный идентификатор МО в справочнике ФРМО"
                   :filter
                   {:engine :match
                    :match {:system "http://fhir.ru/core/systems/frmo"}}
                   :schema
                   {:type zen/vector
                    :minItems 0
                    :maxItems 1
                    :every
                    {:type zen/map
                     :require #{:system :value}}}}}}}

   :type  {:zen/desc "Тип организации"
           :type zen/vector
           :every {:confirms #{fhir/CodeableConcept}
                   :type zen/map
                   :keys {:code {:type zen/string
                                ;;  :valueset {:id org-type}
                                 }}}}
   :partOf {:type zen/map
            :confirms #{fhir.ru.core.organization/CoreOrganization}
            :zen/desc "Ссылка на организацию-юридическое лицо, которой принадлежит данная организация"}


   :telecom {:type zen/vector
             :zen/desc "Контактные данные организации"
             :every {:confirms #{fhir/ContactPoint}}
             :slicing
             {:slices
              {"Phone"
               {:filter
                {:engine :match
                 :match {:system "phone", :use "work"}}}

               "Email"
               {:filter
                {:engine :match
                 :match {:system "email", :use "work"}}}}}}

   :address {:type zen/vector
             :every {:confirms #{fhir.ru.core.address/CoreAddress}}
             :zen/desc "Адрес организации"}}}}


