{ns fhir.ru.core.encounter

 import #{fhir zen.fhir}

 CoreEncounter
 {:zen/tags #{zen.fhir/profile-scheme zen/scheme}
  :zen/desc "Случай обслуживания"
  :confirms #{fhir/Encounter}
  :zen.fhir/version "0.5.8"
  :id "core-encounter"
  :name "CoreEncounter"
  :zen.fhir/type "Encounter"
  :zen.fhir/profileUri "http://fhir.ru/core/sd/core-encounter"
  :type zen/map
  :keys {:diagnosis {:zen/desc "Диагноз"
                     :type zen/vector
                     :every {:confirms #{fhir/BackboneElement}
                             :type zen/map
                             :keys {:condition {:type zen/map
                                                :zen/desc "Нозологическая единица"
                                                :confirms #{fhir.ru.diag.nosology/DiagnosisNosology}}
                                    :diagnosisType {:type zen/map
                                                    :confirms #{CoreDiagnosisType}
                                                    :fhir/extensionUri "http://fhir.ru/core/ex/core-diagnosis-type"
                                                    :zen.fhir/value-set {:symbol CoreVsDiagnosisType}}
                                    :diagnosisRubric {:type zen/map
                                                      :confirms #{CoreDiagnosisRubric}
                                                      :fhir/extensionUri "http://fhir.ru/core/ex/core-diagnosis-rubric"
                                                      :zen.fhir/value-set {:symbol CoreVsDiagnosisRubric}}}}
                     :slicing {:slices {"Основной" {:filter {:engine :match
                                                             :match {:diagnosisRubric {:coding #{{:code "1" :display "Основное заболевание" :system "http://fhir.ru/core/systems/diagnosis-nosology-kinds"}
                                                                                                ;;  {:code "4" :display "Конкурирующее заболевание" :system "http://fhir.ru/core/systems/diagnosis-nosology-kinds"}
                                                                                                ;;  {:code "6" :display "Фоновое заболевание" :system "http://fhir.ru/core/systems/diagnosis-nosology-kinds"}
                                                                                                ;;  {:code "8" :display "Сочетанное заболевание" :system "http://fhir.ru/core/systems/diagnosis-nosology-kinds"}
                                                                                                 }}}}}
                                        "Сопутствующий" {:filter {:engine :match
                                                                  :match {:diagnosisRubric {:coding #{{:code "3" :display "Сопутствующее заболевание" :system "http://fhir.ru/core/systems/diagnosis-nosology-kinds"}}}}}}
                                        "Осложнение" {:filter {:engine :match
                                                               :match {:diagnosisRubric {:coding #{{:code "2" :display "Осложнение основного заболевания" :system "http://fhir.ru/core/systems/diagnosis-nosology-kinds"}
                                                                                                ;;    {:code "7" :display "Осложнение сопутствующего заболевания " :system "http://fhir.ru/core/systems/diagnosis-nosology-kinds"}
                                                                                                   }}}}}}}}}}



 CoreDiagnosisType
 {:zen/tags #{zen/schema zen.fhir/structure-schema}
  :zen.fhir/type "CodeableConcept"
  :zen.fhir/profileUri "http://fhir.ru/core/ex/core-diagnosis-type"
  :type zen/map
  :zen/desc "Тип диагноза"
  :confirms #{zen.fhir/CodeableConcept}}

 CoreDiagnosisRubric
 {:zen/tags #{zen/schema zen.fhir/structure-schema}
  :zen.fhir/type "CodeableConcept"
  :zen.fhir/profileUri "http://fhir.ru/core/ex/core-diagnosis-rubric"
  :type zen/map
  :zen/desc "Рубрика диагноза"
  :confirms #{zen.fhir/CodeableConcept}}

 CoreVsDiagnosisType
 {:zen/tags #{zen.fhir/value-set}
  :zen/desc "[Справочник Степень обоснованности диагноза](https://nsi.rosminzdrav.ru/#!/refbook/1.2.643.5.1.13.13.99.2.795/version/3.1)"
  :fhir/code-systems #{{:fhir/url "http://fhir.ru/core/systems/diagnosis-justification-degree"
                        :zen.fhir/content :not-present}}
  :uri "http://fhir.ru/core/vs/core-diagnosis-type"}

 CoreVsDiagnosisRubric
 {:zen/tags #{zen.fhir/value-set}
  :zen/desc "[Справочник Виды нозологических единиц диагноза](https://nsi.rosminzdrav.ru/#!/refbook/1.2.643.5.1.13.13.11.1077/version/1.3)"
  :fhir/code-systems #{{:fhir/url "http://fhir.ru/core/systems/diagnosis-nosology-kinds"
                        :zen.fhir/content :not-present}}
  :uri "http://fhir.ru/core/vs/core-diagnosis-type"}}