{ns fhir.ru.core.encounter

 import #{fhir zen.fhir
          fhir.ru.core.patient}

 CoreEncounter
 {:zen/tags #{zen/schema zen.fhir/profile-schema zen.fhir/adm-group}
  :zendoc "core.Encounter"

  :zen/desc "Случай обслуживания"
  :confirms #{fhir/Encounter}
  :zen.fhir/version "0.5.8"
  :zen.fhir/id "core-encounter"
  :zen.fhir/name "CoreEncounter"
  :zen.fhir/abstract false
  :zen.fhir/status "draft"
  :zen.fhir/kind "resource"
  :zen.fhir/type "Encounter"
  :zen.fhir/profileUri "http://fhir.ru/core/sd/core-encounter"
  :type zen/map
  :keys {:subject {:confirms #{fhir/Reference zen.fhir/Reference}
                   :zen.fhir/reference
                   {:refers #{fhir.ru.core.patient/CorePatient}}}}}}
