{ns fhir.ru.core.ext-nsi-gender

 import #{fhir zen.fhir fhir.ru.core.vs-nsi-gender/CoreVsNsiGender}

 CoreNsiGender
 {:zen/tags #{zen/schema zen.fhir/structure-schema zen.fhir/extension}
  :zen.fhir/type "Coding"
  :zen.fhir/profileUri "http://fhir.ru/core/sd/core-ex-nsi-gender"
  :type zen/map
  :zen/desc "Кодирование пола по справочнику ФНСИ"
  :zen.fhir/version "0.5.8"
  :confirms #{fhir/Coding}
  :zen.fhir/value-set
  {:symbol fhir.ru.core.vs-nsi-gender/CoreVsNsiGender
   :strength :required}
  ;; :require #{:url :valueCoding}
  :keys {:url {:zen/desc "http://fhir.ru/core/sd/core-ex-nsi-gender"
               :confirms #{fhir/uri}}
         :valueCoding  {:type zen/map
                        :confirms #{fhir/Coding}
                        :zen/desc "Значение из справочника https://nsi.rosminzdrav.ru/#!/refbook/1.2.643.5.1.13.13.11.1040"
                        :require #{:system :code :display}
                        :keys {:system {:zen/desc "http://hl7.org/fhir/administrative-gender"
                                        :confirms #{fhir/uri}}
                               :code {:confirms #{fhir/code}
                                      :zen/desc "Код"}
                               :display {:zen/desc "Значение для отображения"
                                         :confirms #{fhir/string}}}}}

  :zendoc 'extension.core-ex-nsi-gender}}