{ns fhir.ru.core.organization

 Organization
 {:zen/tags #{zen/schema}
  :zendoc 'core.Organization
  :confirms #{fhir.v4/Organization}
  :zen/desc "Организация - Юридическое Лицо"

  :type zen/map
  :require #{:name}
  :keys
  {:name {:type zen/string
          :zen/desc "Полное название организации"}


  :alias {:type zen/vector
          :zen/desc "Сокращенное наименование организации"
          :every {:type zen/string}}

:active {:type zen/boolean
        :zen/desc "True для действующих организаций"}

   :identifier {:type zen/vector
                :every {:confirms #{Identifier}
                        :type zen/map
                        :keys {:system {:type zen/string
                                        :valueset {:id org-type}}}}}

   :type  {:type zen/vector
           :every {:confirms #{CodeableConcept}
                   :type zen/map
                   :keys {:code {:type zen/string
                                 :valueset {:id org-type}}}}}
   :partOf {:type zen/map
            :confirms #{Reference}
            :zen/desc "Ссылка на ассоциацию которой принадлежит данная организация"
            :fhir/profiles #{Association}}

   :extension {:type zen/map
               :keys {:fias {:type zen/string}}}}}

 types
 {:zen/tags #{}
  :zen/desc "Типы организации по собственности"
  :concept [{:value "ООО"}
            {:value "ОAО"}]}

 ids
 {:zen/tags #{}
  :zen/desc "Идентификаторы организации"
  :concept [{:value "ОГРН" :description "Основной государственный регистрационный номер"}
            {:value "ИНН"  :description "Номер налого платильщика"}]}

 Associaiton
 {}

 Department
 {}


 }
