{ns fhir.ru.core.organization

 Organization
 {:zen/tags #{zen/schema}
  :zendoc 'core.Organization
  :confirms #{fhir.v4/Organization}
  :zen/desc "Организация - Юридическое Лицо"

  :type zen/map
  :require #{:name}
  :keys
  {:name {:type zen/string
          :zen/desc "Название организации"}
   :identifier {:type zen/vector
                :every {:confirms #{Identifier}
                        :type zen/map
                        :keys {:system {:type zen/string
                                        :enum [{:value "ОГРН" :zen/desc "Основной государственный регистрационный номер"}]}}}}
   :type  {:type zen/vector
           :every {:confirms #{CodeableSystem}
                   :type zen/map
                   :keys {:code {:type zen/string
                                 :enum [{:value "ОГРН" :zen/desc "Основной государственный регистрационный номер"}]}}}}
   :partOf {:type zen/map
            :confirms #{Reference}
            :zen/desc "Ссылка на ассоциацию которой принадлежит данная организация"
            :fhir/profiles #{Association}}

   :extension {:type zen/map
               :keys {:fias {:type zen/string}
                      :something-else {:type zen/string}
                      }}

   }}

 Associaiton
 {}

 Department
 {}


 }
