{ns fhir.ru.core.organization

 import #{fhir}

 Organization
 {:zen/tags #{zen/schema}
  :zendoc 'core.Organization
  :confirms #{fhir/Organization}
  :zen/desc "Организация - Юридическое Лицо"

  :type zen/map
  :require #{:name}
  :keys
  {:name {:type zen/string
          :zen/desc "Полное название организации"}

   :alias {:type zen/vector
           :zen/desc "Сокращенное наименование организации"
           :every {:type zen/string}}

   :active {:type zen/boolean
            :zen/desc "True для действующих организаций"}

   :identifier {:type zen/vector
                :every {:confirms #{fhir/Identifier}}
                        :slicing
                        {:slices
                         {"ИНН"
                          {:filter
                           {:engine :match
                            :match {:system "https://fhir.ru/inn"}}
                           :schema
                           {:type zen/vector
                            :minItems 0
                            :maxItems 1
                            :every
                            {:type zen/map
                             :require #{:system :value}}}}}}}

   :type  {:type zen/vector
           :every {:confirms #{fhir/CodeableConcept}
                   :type zen/map
                   :keys {:code {:type zen/string
                                 :valueset {:id org-type}}}}}
  ;; :partOf {:type zen/map
  ;;          :confirms #{fhir/Reference}
  ;;          :zen/desc "Ссылка на ассоциацию которой принадлежит данная организация"
  ;;          :fhir/profiles #{Association}}

   :telecom {:type zen/vector
                :zen/desc "Контактные данные организации"
             :every {:confirms #{fhir/ContactPoint}}
             :slicing
             {:slices
             {
                     "Phone"
                     {:filter
                     {:engine :match
                     :match {:system "phone", :use "work"}}
                     }

                     "Email"
                     {:filter
                     {:engine :match
                     :match {:system "email", :use "work"}}}
             }}}

        :address {:type zen/vector
                        :every {:confirms #{fhir.ru.core.address/Address}}
                        :zen/desc "Адрес организации"}
}}

   :extension {:type zen/map
               :keys {:fias {:type zen/string}}}}}

 types
 {:zen/tags #{}
  :zen/desc "Типы организации по собственности"
  :concept [{:value "ООО"}
            {:value "ОAО"}]}

 ids
 {:zen/tags #{}
  :zen/desc "Идентификаторы организации"
  :concept [{:value "ОГРН" :description "Основной государственный регистрационный номер"}
            {:value "ИНН"  :description "Номер налого платильщика"}]}

 Associaiton
 {}

 Department
 {}}
