 {ns fhir.ru.core.practitioner

  import #{fhir zen.fhir
           fhir.ru.core.organization
           fhir.ru.core.address}

  CorePractitioner
  {:zen/tags #{zen.fhir/profile-schema zen/schema zen.fhir/adm-group}
   :zendoc "core.Practitioner"

   :zen/desc "Врач/сотрудник"
   :zen.fhir/version "0.5.8"
   :confirms #{fhir/Practitioner}
   :zen.fhir/id "core-practitioner"
   :zen.fhir/name "CorePractitioner"
   :zen.fhir/abstract false
   :zen.fhir/status "draft"
   :zen.fhir/kind "resource"
   :zen.fhir/type "Practitioner"
   :zen.fhir/profileUri "http://fhir.ru/core/sd/core-practitioner"
   :type zen/map
   :keys {:identifier {:zen/desc "Идентификационные данные врача"
                       :type zen/vector
                       :every {:confirms #{fhir/Identifier}
                               :type zen/map}
                       :slicing
                       {:slices
                        {"PassportRF"
                         {:zen/desc "Паспорт РФ"
                          :schema {:type zen/vector, :maxItems 1}
                          :filter
                          {:engine :match
                           :match {:system "http://fhir.ru/core/systems/passport-rf"}}}
                         "INN"
                         {:zen/desc "Идентификационный номер налогоплательщика — цифровой код, упорядочивающий учёт налогоплательщиков в Российской Федерации. 
                         Присваивается налоговой записи как юридических, так и физических лиц Федеральной налоговой службой России."
                          :schema {:type zen/vector, :maxItems 1}
                          :filter
                          {:engine :match
                           :match {:system "http://fhir.ru/core/systems/inn"}}}
                         "SNILS"
                         {:zen/desc "Страховой номер индивидуального лицевого счёта, СНИЛС — уникальный номер индивидуального лицевого счёта 
                         застрахованного лица в системе обязательного пенсионного страхования"
                          :schema {:type zen/vector, :maxItems 1}
                          :filter
                          {:engine :match
                           :match {:system "http://fhir.ru/core/systems/snils"}}}}}}
          ;; :active {:type zen/boolean
          ;;          :zen/desc "Признак активной действующей записи о враче"}
          :name {:zen/desc "ФИО врача"
                 :type zen/vector
                 :every {:confirms #{fhir/HumanName}
                         :type zen/map
                         :keys {:use {:confirms #{fhir/code}
                                      :type zen/string}
                                :given {:zen/desc "Имя и отчество врача. Первым должно идти имя, вторым - отчество"
                                        :type zen/vector
                                        :every {:confirms #{fhir/string}
                                                :type zen/string}}
                                :family {:zen/desc "Фамилия врача"
                                         :type zen/string}}}}
          ;; :telecom {:zen/desc "Контактные данные врача"
          ;;           :type zen/vector
          ;;           :every {:confirms #{fhir/ContactPoint}
          ;;                   :type zen/map}}
          ;; :gender {:zen/desc "Пол врача"
          ;;          :confirms #{fhir/code}
          ;;          :type zen/string}
          ;; :birthDate {:zen/desc "Дата рождения врача"
          ;;             :type zen/string
          ;;             :confirms #{fhir/date}}
          :address {:zen/desc "Адрес врача"
                    :type zen/vector
                    :every {:confirms #{fhir.ru.core.address/CoreAddress}
                            :type zen/map}}}}

  CorePractitionerRole
  {:zen/tags #{zen.fhir/profile-schema zen/schema zen.fhir/adm-group}
   :zendoc "core.PractitionerRole"

   :zen/desc "Роль врача/сотрудника"
   :zen.fhir/version "0.5.8"
   :confirms #{fhir/PractitionerRole}
   :zen.fhir/id "core-practitionerrole"
   :zen.fhir/name "CorePractitionerRole"
   :zen.fhir/abstract false
   :zen.fhir/status "draft"
   :zen.fhir/kind "resource"
   :zen.fhir/type "PractitionerRole"
   :zen.fhir/profileUri "http://fhir.ru/core/sd/core-practitionerrole"
   :type zen/map
   :keys {
          :code {:type zen/vector
                 :zen/desc "Используется в ПЛИ"
                 :every {:type zen/map
                         :confirms #{fhir/CodeableConcept}
                         :keys {:coding {:type zen/vector
                                        :zen/desc "Используется в ПЛИ"
                                        :every {:type zen/map
                                                :confirms #{fhir/Coding}
                                                :keys {:code {:type zen/string
                                                                :confirms #{fhir/code}
                                                                :zen/desc "Используется в ПЛИ"}
                                                        :display {:zen/desc "Используется в ПЛИ"
                                                                :type/zen string
                                                                :confirms #{string}}
                                                        :system {:type zen/string
                                                                :confirms #{fhir/uri}
                                                                :zen/desc "Используется в ПЛИ"
                                                                :zen.fhir/value-set {:symbol fhir.ru.core.vs/CoreVsMedicalAndPharmaceuticalWorkersPositions
                                                                                     :strength :required}}
                                                        :version {:type zen/string
                                                                :confirms #{fhir/string}
                                                                :zen/desc "Используется в ПЛИ"}}}}}}}
          :practitioner {:zen/desc "Ссылка на ресурс Practitioner"
                         :type zen/map
                         :confirms #{fhir/Reference zen.fhir/Reference}
                         :zen.fhir/reference
                         {:refers #{fhir.ru.core.practitioner/CorePractitioner}}}
          :organization {:zen/desc "Ссылка на ресурс Organization"
                         :type zen/map
                         :confirms #{fhir/Reference zen.fhir/Reference}
                         :zen.fhir/reference
                         {:refers #{fhir.ru.core.organization/CoreOrganization}}}}}}

